<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body th:style="|background: url(/static/images/back.jpg;|">
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
Add new user
<form th:action="@{/registration}" method="post">
    <div><label> Login : <input type="text" name="username" required/> </label></div>
    <div><label> Password: <input type="password" name="password" required/> </label></div>
    <select type="text" name="role" required>
        <option value="">Выбрать</option>
        <option value="USER">USER</option>
        <option value="ADMIN">ADMIN</option>
    </select>
    <div><input type="submit" value="Sign Up" class="button"/></div>
</form>
</body>
</html>